.timeline-settings-page h1 {
	margin-bottom: 10px;
}

.timeline-settings-page .timeline-options {
	width: 80%;
	margin-top: 20px;
}

.timeline-settings-page .timeline-options td {
	vertical-align: top;
}

.timeline-settings-page .timeline-options td.mid {
	vertical-align: middle;
}

.timeline-settings-page .timeline-options td.bot {
	vertical-align: bottom;
}

.timeline-settings-page .field-group {
	padding: 10px 0;
}

.timeline-settings-page .field-group.slight-offset {
	padding-left: 20px;
}

.timeline-settings-page .field-group.with-offset {
	padding: 40px 0;
}

.timeline-settings-page .field-group label {
	font-weight: bold;
}

.timeline-settings-page .field-group.checkbox label {
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
}

.timeline-settings-page .info-text {
	font-size: 12px;
	font-style: italic;
	color: #888;
	padding: 5px 0;
	margin: 0;
}

.timeline-settings-page .field-group .full-width-input {
	width: 90%;
	display: block;
}

.timeline-settings-page .field-group *[readonly] {
	background: #fff;
	resize: none;
}

.timeline-settings-page .center {
	text-align: center;
}

#post-event-date .ui-datepicker-trigger {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0 0 0 5px;
	padding: 0 10px 1px;
	cursor: pointer;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #ccc;
	box-shadow: 0 1px 0 #ccc;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f7f7f7;
	vertical-align: top;
}

#post-event-date .ui-datepicker-trigger:hover,
#post-event-date .ui-datepicker-trigger:focus {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
}

#post-event-date .ui-datepicker-trigger:focus {
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 3px rgba(0, 115, 170, .8);
	box-shadow: 0 0 3px rgba(0, 115, 170, .8);
}

#post-event-date .ui-datepicker-trigger:active {
	background: #eee;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5);
	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5);
	-webkit-transform: translateY(1px);
	-ms-transform: translateY(1px);
	transform: translateY(1px);
}

.post-event-date-select-value {
	margin: 5px 0 0 -4px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .44);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .44);
	border-color: #e5e5e5;
	background: #fff;
}

.post-event-date-select-value .ui-datepicker-header {
	background: #fff;
	border-width: 0;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.post-event-date-select-value .ui-datepicker-header .ui-datepicker-prev,
.post-event-date-select-value .ui-datepicker-header .ui-datepicker-next {
	margin: 3px;
	cursor: pointer;
}

.post-event-date-select-value .ui-datepicker-header .ui-datepicker-prev.ui-state-hover,
.post-event-date-select-value .ui-datepicker-header .ui-datepicker-next.ui-state-hover {
	margin: 4px;
	border-width: 0;
	background: #f7f7f7;
}

.post-event-date-select-value .ui-datepicker-calendar td .ui-state-default {
	background: #fafafa;
	border-color: #fafafa;
}

.post-event-date-select-value .ui-datepicker-calendar td .ui-state-active {
	background: #008ec2;
	border-color: #008ec2;
	color: #fff;
	font-weight: bold;
}

.post-event-date-select-value .ui-datepicker-calendar td .ui-state-hover {
	background: #f7f7f7;
	border-color: #008ec2;
}

.post-event-date-select-value .ui-datepicker-calendar td .ui-state-highlight {
	background: #fff;
	border-color: #008ec2;
}

.post-event-date-select-value .ui-datepicker-calendar td .ui-state-active.ui-state-hover,
.post-event-date-select-value .ui-datepicker-calendar td .ui-state-active.ui-state-hover.ui-state-highlight,
.post-event-date-select-value .ui-datepicker-calendar td .ui-state-active.ui-state-highlight {
	background: #008ec2;
}
